# Byte-compiled / cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Environment
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System
.DS_Store
Thumbs.db

# Data & credentials
data/
*.csv
*.zip
.kaggle/
